In [7]:
from mimesis import Personal, Datetime
from mimesis.enums import Gender

In [8]:
generator_person = Personal()
generator_dt = Datetime()

In [19]:
patients = []
for i in range(1000000):
    if i%2:
        sex = Gender.FEMALE
    else:
        sex = Gender.MALE
    date = generator_dt.date(1900, 2017)
    month, day, year = date.split('/')
    pat = {
        'name': generator_person.name(sex),
        'surname': generator_person.surname(sex),
        'day': day,
        'month': month,
        'year': year,
        'weight': generator_person.weight(),
        'height': generator_person.height(),
        'blood_type': generator_person.blood_type(),

    }
    patients.append(pat)

In [14]:
import pandas as pd

In [20]:
df = pd.DataFrame(patients)

In [21]:
df

       blood_type day height month        name     surname  weight  year
0              O+  29   1.60    01       Kirby       Hines      50  1914
1              A+  19   1.69    01    Gabriele    Davidson      46  1954
2              A−  30   1.69    07      Carmen       David      48  1903
3              A−  02   1.79    12  Margaretta      Fisher      48  1983
4             AB−  20   1.53    09       Larry        Cash      88  1933
5              A−  15   1.60    12     Dorathy      Potter      55  1955
6              O−  04   1.69    01     Russell        Yang      62  1962
7              A−  27   1.75    04     Brittni      Stuart      53  1938
8              B−  17   1.70    06         Tod      Franks      88  1916
9              O+  15   1.54    04        Shay    Melendez      60  1970
10             A+  15   1.99    01     Hilario    Stafford      76  1996
11             A+  06   1.72    10     Jeanett        Hahn      50  1991
12             A−  26   1.52    05   Broderick      Fuller      51  1993
13            AB−  02   1.75    03    Catarina      Meyers      43  2008
14             A−  31   1.54    10        Otis     Mcbride      42  1915
15             A+  13   1.93    07        Kati   Maldonado      60  2001
16            AB+  01   1.55    01      Richie      Steele      84  1942
17            AB+  30   1.54    04      Mignon       Lucas      60  1977
18            AB+  25   1.62    11         Mac   Blackwell      85  1946
19             A+  14   1.50    02       Tiera      Ingram      49  1904
20             A+  06   1.77    07     Tristan      Wilson      64  1918
21            AB−  02   1.74    08      Walter     Ferrell      61  1960
22             O−  09   1.51    01        Boyd      Landry      39  1906
23             O+  12   1.75    04    Remedios       Noble      77  1998
24             A−  22   1.88    07       Denis         Day      41  1957
25            AB−  07   1.62    09      Nancey        Reed      47  1948
26            AB+  28   1.68    08      Porter       Brown      78  1985
27             A−  31   1.99    05     Arvilla       Finch      81  1939
28             B−  01   1.68    12       Hosea       Gates      83  1937
29             A−  31   2.00    10    Kymberly      Carson      90  1997
...           ...  ..    ...   ...         ...         ...     ...   ...
999970        AB+  31   1.89    08     Haywood       Curry      58  1976
999971         O−  25   1.60    11     Rolande    Mcknight      72  2005
999972         A+  08   1.73    05     Antonio      Landry      38  1911
999973         B+  23   1.55    12       Qiana      Medina      51  1907
999974         O+  19   1.71    02       Peter       Downs      77  1903
999975        AB−  27   1.55    01   Inocencia      Graham      81  1971
999976         B+  23   1.67    06        King      Waller      64  2004
999977        AB+  18   1.64    10     Eveline      Briggs      38  1921
999978         O−  14   1.76    09        Seth     Stewart      83  1918
999979         A−  25   1.92    04         Pia      Rhodes      45  1943
999980         O−  06   1.71    10    Demarcus       Miles      84  1904
999981         B+  05   1.76    05         Hye      Holden      39  2007
999982         A+  14   1.77    03      Junior      Hinton      61  1932
999983         O−  22   1.95    12      Gertha        Kent      50  1912
999984         O+  05   1.75    08       Moses   Alexander      38  1938
999985         A−  03   1.99    11     Raymond       Mejia      43  1957
999986        AB−  17   1.74    02     Zachery       Crane      88  1948
999987         O+  31   1.83    12        Cody     Clemons      38  1988
999988         A+  15   1.94    12      Dwight      Garcia      78  1946
999989         O−  30   1.57    03        Mike         Kim      78  1935
999990        AB−  26   1.67    11         Les        Good      81  2002
999991         A+  23   1.58    03     Whitley        Dean      46  1982
999992         A−  06   1.83    03      Theron     Stanton      89  2012
999993        AB−  10   1.71    04     Marcene       Leach      65  1942
999994         O−  26   1.96    04      Hector      Carter      86  1972
999995         B+  29   1.93    04       Margy     Tillman      81  1921
999996         B+  12   1.97    01       Kevin   Rasmussen      49  1963
999997         B−  22   1.69    02      Wendie    Williams      44  1975
999998        AB−  13   1.55    04     Maynard  Washington      66  1907
999999         A−  09   1.84    12        Nery     Douglas      54  1931

[1000000 rows x 8 columns]

In [23]:
df = df[['name','surname','day','month','year','height','weight','blood_type']]

In [25]:
df.to_csv('patients.csv',index=False, header=False)